{
  "action" : "actions",
  "list" : [
    {
    "action" : "loop",
    "count" : 1,
    "body" : [
      {
        "action" : "option",
        "options" : [
          {
            "action" : "particle",
            "specification" : {
              "type" : "animated",
              "animation" : "/animations/generalmunitions/explosion/crptexp-gmredtracerexplosion/crptexp-gmredtracerexplosion.animation",
              "approach" : [0.1, 0.1],
              "layer" : "middle",
              "timeToLive" : 1.0,
		          "fullbright" : true,
              "variance" : {
                "position" : [0.0, 0.0],
                "initialVelocity" : [0, 0],
                "rotation" : 180
                }
              }
            }
          ]
        }
	    ]
	  },
    {
      "action" : "spark"
    },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
  		    "action" : "option",
          "options" : [
  		      {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 1.0,
                "color" : [255, 0, 0, 255],
                "fullbright" : true,
                "destructionTime" : 0.1,
                "destructionAction" : "shrink",
                "fade" : 0.0,
                "initialVelocity" : [0, 0],
                "timeToLive" : 0.08,
                "layer" : "middle",
                "variance" : {
                  "position" : [0.25, 0.25],
                  "size" : 0.5,
                  "initialVelocity" : [10, 10]
                  }
                }
              }
  	      ]
  	    }
  	  ]
  	},
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/impact_bullet.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}
