{
  "converse" : {
      "human" : {
          "default" : [
            "Sorry darling, I'm quite busy at the moment. Care to chat later?",
            "You should try the Anglure caviar sometime. It's to die for."
          ]
        },
        "apex" : {
          "default" : [
            "TODO"
          ]
        },
        "floran" : {
          "default" : [
            "I love thiss velvet! It is so ssoft!",
            "No worriess, I don't bite! Hahaha!"
          ]
        },
        "hylotl" : {
          "default" : [
            "Such a lovely day today, wouldn't you say so?",
            "These garments look absolutely magnificent, don't they?",
            "Yesterday my maid entered the room while I had guests over. Can you believe the audacity?",
            "I simply adore these tasteful fabrics."
          ]
        },
        "glitch" : {
          "default" : [
            "Infatuated. I love gold!",
            "Pondering. I've been thinking about having my shell painted obsidian, or crimson.",
            "Curious. Do you think I would look good in gold?"
          ]
        },
        "avian" : {
          "default" : [
            "Ah, this business trip has been wonderful.",
            "The beds they have here are so pleasant to sleep in!"
          ]
        },
        "novakid" : {
          "default" : [
            "TODO"
          ]
        }
  }
}
