{
  "reattack" : {
    "default" : {
      "default" : [
        "There you are.",
        "You cannot escape death.",
        "By blade or by bullet, I will see to your end."
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Cherish your final breath.",
        "Death comes.",
        "I will be your end.",
        "Good, <entityname>. You're here.",
        "I knew you would show up eventually, <entityname>.",
        "Ah, <entityname>. Let's get started.",
        "<entityname>, I've been waiting for you. Your moments are numbered."
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Life drains from your body.",
        "Blood splashes upon the ground, as raindrops amidst a thunderstorm.",
        "This outcome was inevitable.",
        "Another contract fulfilled.",
        "Deep crimson. My favorite color."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Your respite is only temporary.",
        "I have found you now, and I will find you again.",
        "With my tracking abilities, you will not find peace for long.",
        "I can and will find you again, <entityname>.",
        "<entityname>, I know much about you. Including where you may run off to."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Trying to run, are you?",
        "I haven't had one live long enough to run from me in a while."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "I love it when they struggle.",
        "You will not evade my reach for long."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "I love it when they struggle."
      ]
    }
  }
}
