{
  "converse" : {
      "human" : {
          "default" : [
            "Come for chow?",
            "Don't ask what's in this stuff, trust me."
          ]
        },
        "apex" : {
          "default" : [
            "Well, it might be better than what the Miniknog serves its citizens.",
            "Just try not to look at it while eating."
          ]
        },
        "floran" : {
          "default" : [
            "Delicious foodss!",
            "Floran lovess all the meats!"
          ]
        },
        "hylotl" : {
          "default" : [
            "My parents would be ashamed of what I create here.",
            "Chef duty is my least favorite part of this job."
          ]
        },
        "glitch" : {
          "default" : [
            "Ashamed. My talents have been wasted.",
            "Relieved. Thank goodness I can disable my sense of taste."
          ]
        },
        "avian" : {
          "default" : [
            "I'm not proud of my meals, but it's not like they give me much to work with..."
          ]
        },
        "novakid" : {
          "default" : [
            "Ain't gonna lie, I wouldn't eat any o' this slop."
          ]
        }
  }
}
