{
  "converse" : {
      "human" : {
          "default" : [
            "Welcome aboard! Talk to the crew if you need supplies."
          ]
        },
        "apex" : {
          "default" : [
            "We're carrying a surplus of supplies, feel free to speak to the crew about taking some."
          ]
        },
        "floran" : {
          "default" : [
            "Ssupplies on ship!"
          ]
        },
        "hylotl" : {
          "default" : [
            "Speak to the crew of the ship if you're in need of supplies."
          ]
        },
        "glitch" : {
          "default" : [
            "Helpful. If you are in need of supplies we can offer some."
          ]
        },
        "avian" : {
          "default" : [
            "We have supplies on board if you need any."
          ]
        },
        "novakid" : {
          "default" : [
            "Talk to the crew over yonder if you need any supplies, friend."
          ]
        }
  }
}
