{
  "converse" : {
      "human" : {
          "default" : [
            "Captain <selfname> of the General Munitions Company Naval Force at your service!",

            "What happened at Earth... If only anyone could have known.",
            "Protector."
          ]
        },
        "apex" : {
          "default" : [
            "This is Captain <selfname> of the General Munitions Company Naval Force, at your service.",

            "The General sends his regards.",
            "Behave aboard my ship, Protector."
          ]
        },
        "floran" : {
          "default" : [
            "I am Captain <selfname> of the General Munitionss Company Naval Force, at your sservice!",

            "I trained yearss to lead this sship!"
          ]
        },
        "hylotl" : {
          "default" : [
            "Captain <selfname> of the General Munitionss Company Naval Force at your service.",

            "Practice mindfulness aboard my ship."
          ]
        },
        "glitch" : {
          "default" : [
            "Formal. Captain <selfname> of the General Munitions Company Naval Force at your service!",

            "Proud. Welcome aboard my vessel!",
            "Valiant. I shall die before I allow this ship to fall!"
          ]
        },
        "avian" : {
          "default" : [
            "Captain <selfname> of the General Munitions Company Naval Force at your service!",

            "I'm proud to serve this company!",
            "The GMC has stood for generations, and my ship will ensure it stands for many more!"
          ]
        },
        "novakid" : {
          "default" : [
            "This is Captain <selfname> of the General Munitions Company Naval Force, at your service!",

            "I don't take too kindly to nonsense aboard my ship, stranger.",
            "I got myself the finest crew in the General Munitions Company right on this here ship!"
          ]
        }
  }
}
