{
  "merchantStart" : {

    "human" : {
    	"default" : [
	      "As long as it doesn't look expensive, it's for sale."
      ]
    },

    "apex" : {
      "default" : [
        "Let me know if you find anything that interests you."
      ]
    },

    "avian" : {
      "default" : [
        "Plenty of spare supplies for the taking."
      ]
    },

    "glitch" : {
      "default" : [
        "Welcoming. Please, take your time to browse my collection."
      ]
    },

    "novakid" : {
      "default" : [
        "Take yer time, I ain't got much else to do."
      ]
    }
  },

  "merchantEnd" : {

    "human" : {
      "default" : [
        "Don't tell the drill sergeants about this."
      ]
    },

    "avian" : {
      "default" : [
        "Thank you for doing business."
      ]
    },

    "glitch" : {
      "default" : [
        "Pleased. Thank you for your business with General Munitions!"
      ]
    },

    "apex" : {
      "default" : [
        "Remember - come to General Munitions when you need to raise an army."
      ]
    },

    "novakid" : {
      "default" : [
        "Come back any time you need more supplies. We always got a surplus."
      ]
    }
  },

  "follow" : {

    "human" : {
    	"default" : [
	      "Follow me to my shop!"
      ]
    },

    "glitch" : {
    	"default" : [
	      "Cordial. Please follow me to my shop."
      ]
    },

    "avian" : {
    	"default" : [
	      "I need to get to my inventory before we can do business. Come, follow me!"
      ]
    },

    "apex" : {
    	"default" : [
	      "My wares are in my shop. Follow me, I'll show you."
      ]
    },

    "novakid" : {
      "default" : [
        "Right this way, partner.",
        "Follow me, I'll show you my store."
      ]
    }
  },

  "welcome" : {

    "human" : {
    	"default" : [
        "Alright, what are you looking to buy?",
	      "What kind of weapon are you looking for?"
      ]
    },

    "glitch" : {
    	"default" : [
        "Excited. Now we can do business.",
        "Pleased. Now we can trade to our hearts' content."
      ]
    },

    "avian" : {
    	"default" : [
        "Alright, now we're here, what can I get you?",
        "Now we're here you can browse and find what you like."
      ]
    },

    "apex" : {
    	"default" : [
        "Here is my shop. Now, what are you looking for?"
      ]
    },

    "novakid" : {
      "default" : [
        "Now we're here, care to make some trades?",
        "Now we're at my store, you feelin' like makin' some trades?"
      ]
    }
  },

  "tout" : {

    "human" : {
    	"default" : [
	      "I have some supplies here if you're interested."
      ]
    },

    "apex" : {
      "default" : [
        "I have supplies to spare if you have the cash."
      ]
    },

    "avian" : {
      "default" : [
        "Hey there. Need to buy or sell anything?"
      ]
    },

    "glitch" : {
      "default" : [
        "Enticing. Come, buy!"
      ]
    },

    "novakid" : {
      "default" : [
        "We got some extra shipments o' supplies we don't need. Interested?"
      ]
    }
  }
}
