{
  "converse" : {
      "human" : {
          "default" : [
            "ATTEEENTION!",
            "I DON'T TALK TO PROTECTORATE BOOTLICKERS, GET OUT OF MY FACE!",
            "Ah, I love the smell of freshly spent munitions in the morning.",
            "When I'm done, these men will chew brass and spit lead!"
          ]
        },
        "apex" : {
          "default" : [
            "I'll turn these sorry excuses for soldiers into the greatest army on this planet!",
            "I am one poor formation away from putting these privates through a world of hurt."
          ]
        },
        "floran" : {
          "default" : [
            "Don't sstep out of line."
          ]
        },
        "hylotl" : {
          "default" : [
            "What does GMC's corporate army have that others don't? Discipline.",
            "Pain is an excellent teacher."
          ]
        },
        "glitch" : {
          "default" : [
            "Stern. Watch yourself in my military base.",
            "Joyful. A good day to be part of the military-industrial complex."
          ]
        },
        "avian" : {
          "default" : [
            "Try me.",
            "Only the soldiers with potential will recieve the honor of seeing me angry."
          ]
        },
        "novakid" : {
          "default" : [
            "Yer testin' my patience.",
            "Just because ya' ain't a private don't mean you get a pass! GET MOVIN'!",
            "They think some pencil pushin' eggheads can compete with us? Don't make me laugh."
          ]
        }
  }
}
