{
  "converse" : {
      "human" : {
          "default" : [
            "Sir.",
            "Sir!",
            "This company is nothing like the Protectorate, I can tell you that.",
            "You read the news lately? Something about a corporate migration.",
            "A lot of people from Earth are joining General Munitions.",
            "This company will hire anyone. There's glowing aliens working here!",
            "I heard that General Munitions Co. came from Earth a long time ago.",

            "I can't talk right now, I'm super busy.",
            "Something weird is going on here.",
            "I could totally go for a roast dinner right now.",
            "I miss Earth so much. Everything is terrible.",
            "It's been a long day; I need a hug.",
            "I don't want to talk right now, I'm a little down after what happened to Earth.",
            "Can we maybe take a rain check on this conversation? I have stuff to do.",
            "I'm so tired today. So tired.",
            "I am wicked hungry.",
            "Earth is gone. I can't believe it.",
            "Something doesn't feel right; like storm clouds are gathering.",
            "My family are on a different planet.",
            "I miss my planet.",
            "I'm dying for a cup of tea."
          ]
        },
        "apex" : {
          "default" : [
            "Sir.",
            "Sir!",
            "This has been a rough deployment to say the least.",
            "The Miniknog sees the GMC as an enemy. They fear the freedom that we offer.",
            "If I'm caught talking for too long, they'll make me do push-ups for another hour!",

            "Today has been hard. Maybe tomorrow will be better.",
            "Don't cause trouble. I've had enough trouble for a lifetime.",
            "Gah! ...Oh sorry - I thought you where someone else.",
            "Do you arm wrestle?",
            "You look like somebody who can survive on their own. That is a good skill to have.",
            "I'm not sure we should talk.",
            "I had a dream about a banana cream pie last night. My mouth is still watering.",
            "I am incredibly hungry.",
            "I've got friends here. I'm happy.",
            "Are you allowed to be here?",
            "What a day I am having.",
            "Life has its trials, but there are good times too, I know.",
            "I'm sorry, today I have no time to talk."
          ]
        },
        "floran" : {
          "default" : [
            "Sssir.",
            "Sssir!",
            "Floran training to ssstab better!",
            "Floran loves guns! Shoots tiny sspears!",

            "Sssuspicious thing.",
            "Leave, maybe.",
            "Floran ssstab you if you misbehave.",
            "Floran restless, not enough ssstabbing going on.",
            "Today will be good day.",
            "Floran loves adventure - we are kindred sspirits.",
            "It feels like a sstorm is coming.",
            "Floran likes living here.",
            "Floran not afraid of anything!",
            "Floran fears nothing!",
            "Place here is nice, right?",
            "Floran hatess sstaying inside too long.",
            "Floran has lots to do today.",
            "Floran is tired.",
            "Floran feel good today.",
            "Can you read? Floran can.",
            "Floran learn rules of etiquette."
          ]
        },
        "hylotl" : {
          "default" : [
            "Sir.",
            "Sir!",
            "Not all Hylotl are pacifists. Some of us understand the necessity of war.",
            "I grew tired of my aimless life, so I enlisted.",
            "There exist few better teachers of discipline than the GMC.",
            "One may find a certain beauty in practicality.",
            "A well-built firearm is a magnificent piece of artistry.",
            "Some fail to grasp that war in itself is an art form.",

            "These are times of degradation. I'm glad there are those who are brave enough to act.",
            "I'm so grateful that the dangers of the universe are balanced by its wonders and beauty.",
            "While things must be practical, never undervalue beauty.",
            "Value your master, but also your servants. No building can stand with a solid foundation.",
            "I have many thoughts on intergalactic politics, though solutions are more elusive.",
            "I'm sorry, did you say something?",
            "When it all seems too much I find refuge in poetry.",
            "It would be pleasant to talk, but I'm somewhat in a rush.",
            "I have nothing to say to you.",
            "Please excuse me.",
            "I must excuse myself, I hope you will forgive me.",
            "Oh dear, today is one of those days...",
            "What do you do when darkness gathers?",
            "The longer the journey the more deserved the destination.",
            "What a glorious day.",
            "It is important to remain humble, I find."
          ]
        },
        "glitch" : {
          "default" : [
            "Formal. Sir.",
            "Formal. Sir!",
            "Steadfast. We Glitch thrive during hardship.",

            "Trepidatious. What is your business here?",
            "Disturbed. Why are you here?",
            "Impatient. I have things to do!",
            "Wistful. One day follows the next but time seems to stand still.",
            "Murderous. I am in a terrible mood.",
            "Frustrated. Why is cooking so hard? All my dishes taste terrible.",
            "Worried. Something does not seem right.",
            "Truthful. I do not want to talk to you.",
            "Exhausted. I've been so busy recently.",
            "Nonplussed. What are you doing here?",
            "Tired. I want to go to bed.",
            "Startled. Hi...",
            "Suspicious. What's your business here?",
            "Irritated. I do not really have time to talk.",
            "Tired. My feet ache, my back hurts, my eye bulbs feel dim.",
            "Unsatisfied. Day after day, it's always the same.",
            "Content. I think I'll spend the rest of my days here.",
            "Bored. Time seems to stand still sometimes."
          ]
        },
        "avian" : {
          "default" : [
            "Sir.",
            "Sir!",
            "The Drill Sergeants have been extra hard on us lately. I wonder why?",

            "You've probably noticed: not all Avians are devout.",
            "Where are you from?",
            "Have you tried Avian wrestling?",
            "You look like you've been though some things lately.",
            "Want to spar with me later?",
            "My spear is too blunt to use, I'll have to sharpen it.",
            "I've been nervous for the past few days, like something bad is going to happen.",
            "Sorry, I need some time to myself.",
            "It's nice to meet you, but I've got a lot on my plate, and I can't talk right now.",
            "Yesterday, today, tomorrow - things keep going from bad to worse.",
            "I'm so tired, I really need to sleep.",
            "I really can't talk now.",
            "Ah! ...Oh sorry, you surprised me."
          ]
        },
        "novakid" : {
          "default" : [
            "Sir.",
            "Sir!",
            "Boy if I had any clue o' what I'd get myself into...",
            "I love servin' this company! We never stay in one place fer too long.",

            "Y'all aren't from around here, are ya?",
            "You look like the travellin' type - you from over yonder?",
            "What do you think o' this place. Sorta nice, ain't it?",
            "I'm feelin' as fit as a fiddle. How about you?",
            "If you've forgotten where you came from, just don't forget where yer goin'!",
            "I thought I heard a storm roll in, but it must have just been you!",
            "You got a look about you. You had troublin' times lately, partner?",
            "It ain't where you come from, it's where you're goin' that counts!",
            "I'm always rootin' for a jamboree!",
            "Little advice for yer - if you wanna get out a hole, you gotta stop diggin'.",
            "You got a sharp eye. How about a shootin' match between you and I?"
          ]
        }
  }
}
