{
  "merchantStart" : {

    "human" : {
    	"default" : [
	      "Come to browse my selection of fine weapons?",
		    "General Munitions - the number one choice for budding armies.",
        "Everything in my armory is for sale!"
      ]
    },

    "apex" : {
      "default" : [
        "I have many tools of war for sale!"
      ]
    },

    "avian" : {
      "default" : [
        "I have plenty of quality weapons here.",
        "Welcome, care to purchase some of my armaments?"
      ]
    },

    "glitch" : {
      "default" : [
        "Welcoming. Please, take your time to browse my collection."
      ]
    },

    "novakid" : {
      "default" : [
        "If you're here to here to buy some armaments, you've come to the right place!"
      ]
    }
  },

  "merchantEnd" : {

    "human" : {
      "default" : [
        "Return to me when you run out of ammo!",
        "Thank you for doing business with General Munitions.",
        "Remember to tell your friends - General Munitions has a weapon for everyone!"
      ]
    },

    "avian" : {
      "default" : [
        "Thank you for doing business."
      ]
    },

    "glitch" : {
      "default" : [
        "Pleased. Thank you for your business with General Munitions!"
      ]
    },

    "apex" : {
      "default" : [
        "Remember - come to General Munitions when you need to raise an army."
      ]
    },

    "novakid" : {
      "default" : [
        "Come on back here if you need any more weapons!"
      ]
    }
  },

  "follow" : {

    "human" : {
    	"default" : [
	      "Follow me to my shop!"
      ]
    },

    "glitch" : {
    	"default" : [
	      "Cordial. Please follow me to my shop."
      ]
    },

    "avian" : {
    	"default" : [
	      "I need to get to my inventory before we can do business. Come, follow me!"
      ]
    },

    "apex" : {
    	"default" : [
	      "My wares are in my shop. Follow me, I'll show you."
      ]
    },

    "novakid" : {
      "default" : [
        "Right this way, partner.",
        "Follow me, I'll show you my store."
      ]
    }
  },

  "welcome" : {

    "human" : {
    	"default" : [
        "Alright, what are you looking to buy?",
	      "What kind of weapon are you looking for?"
      ]
    },

    "glitch" : {
    	"default" : [
        "Excited. Now we can do business.",
        "Pleased. Now we can trade to our hearts' content."
      ]
    },

    "avian" : {
    	"default" : [
        "Alright, now we're here, what can I get you?",
        "Now we're here you can browse and find what you like."
      ]
    },

    "apex" : {
    	"default" : [
        "Here is my shop. Now, what are you looking for?"
      ]
    },

    "novakid" : {
      "default" : [
        "Now we're here, care to make some trades?",
        "Now we're at my store, you feelin' like makin' some trades?"
      ]
    }
  },

  "tout" : {

    "human" : {
    	"default" : [
	      "Buy surplus arms from General Munitions!",
	      "You there! Do you need some ordnance?",
	      "Surplus armaments for sale!",
		    "General Munitions now distributes commercially! Come purchase quality ordnance!"
      ]
    },

    "apex" : {
      "default" : [
        "Buy surplus arms from General Munitions!",
	      "Surplus armaments for sale!",
        "Rebel? Insurgent? General Munitions Co. has weapons for you!",
        "General Munitions weapons!"
      ]
    },

    "avian" : {
      "default" : [
        "Come and trade! I have weapons for sale!",
        "Have weapons you no longer need? General Munitions wants them for parts!",
        "If you need to buy anything, I have a great selection.",
        "Hey there. Need to buy or sell anything?"
      ]
    },

    "glitch" : {
      "default" : [
        "Enticing. Come, buy!",
        "Excited. Are you a customer?",
        "Welcoming. Come and view my armaments!"
      ]
    },

    "novakid" : {
      "default" : [
        "General Munitions Co. has all the iron you need to wage a one-man war!"
      ]
    }
  }
}
