{
  "hail" : {
    "glitch" : {
      "default" : [

        "Cautious. Behave yourself.",
        "Suspicious. What is your purpose here?",
        "Alert. Who are you?",
        "Optimistic. I'm sure you won't be any trouble.",
        "Reticent. You won't be a problem...",
        "Stern. You behave yourself.",
        "Dismissive. Try not to get yourself killed.",
        "Concerned. Should you be here?"
      ]
    },
    "floran" : {
      "default" : [

        "Sstay out of trouble.",
        "Floran does not like your face.",
        "No ssilliness.",
        "Behave yourssself.",
        "Give Floran a reassson.",
        "Don't tempt Floran.",
        "Keep moving, sstranger."
      ]
    },
    "hylotl" : {
      "default" : [

        "I hope that we can each keep our steel sheathed and chambered.",
        "Walk well, stranger.",
        "We ask only that you behave respectfully within our jurisdiction.",
        "Cross me and I will be forced to strike.",
        "Do not test me."
      ]
    },
    "human" : {
      "default" : [

        "Watch yourself, stranger.",
        "Stay out of trouble.",
        "Try not to destroy anything.",
        "I'm watching you.",
        "You better not try anything.",
        "What's your business here?",
        "What are you lookin' at?"
      ]
    },
    "apex" : {
      "default" : [
        "Ever thought of enlisting?",

        "Stay silent, traveller, and do not cause any trouble.",
        "Acts of aggression will not be tolerated.",
        "Every act has repercussions."
      ]
    },
    "avian" : {
      "default" : [
        "I hope to make my family proud.",
        "Serving with the GMC has been the greatest decision of my life.",

        "Don't try me.",
        "If we fight, you will lose.",
        "I'm afraid I must ask you to move along.",
        "As long as you don't break anything or kill anyone, you are welcome here."
      ]
    },
    "novakid" : {
      "default" : [
        "You'd best watch yerself 'round here.",
        "My folks have been servin' this company for generations.",

        "Don't cause no fuss around here, partner.",
        "If you don't intend to cause trouble, then we'll get on jus' fine.",
        "Howdy!"
      ]
    }
  }
}
