{
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_general1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/generalmunitions/crptexp-gmcraftingheader.png",
      "fileBody" : "/interface/crafting/generalmunitions/crptexp-gmcraftingbody.png",
      "fileFooter" : "/interface/crafting/generalmunitions/crptexp-gmcraftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [332, 252]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  Barracks Workbench",
      "subtitle" : "  Military-grade furniture and blocks.",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingfurnace.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [103, 235],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;BLUEPRINTS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [277, 235],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [234, 46],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [246, 46],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [240, 45],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [285, 43],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [285, 43],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/craftbg.png",
      "position" : [210, 40],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [211, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [54, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [65, 58],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      "position" : [203, 41],
      "size" : [154, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [70, 42],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [19, 69, 188, 231],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/generalmunitions/crptexp-gmcraftableselected.png",
            "unselectedBG" : "/interface/crafting/generalmunitions/crptexp-gmcraftablebackground.png",
            "spacing" : [0, 0],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/generalmunitions/crptexp-gmcraftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "lblDoorTab" : {
      "type" : "image",
      "file" : "/interface/crafting/generalmunitions/crptexp-gmtabicondoors.png",
      "position" : [3, 200],
      "zlevel" : 3
    },
    "lblLightTab" : {
      "type" : "image",
      "file" : "/interface/crafting/generalmunitions/crptexp-gmtabiconlights.png",
      "position" : [3, 171],
      "zlevel" : 3
    },
    "lblWiredTab" : {
      "type" : "image",
      "file" : "/interface/crafting/generalmunitions/crptexp-gmtabiconwired.png",
      "position" : [3, 142],
      "zlevel" : 3
    },
    "lblDecorTab" : {
      "type" : "image",
      "file" : "/interface/crafting/generalmunitions/crptexp-gmtabiconfurniture.png",
      "position" : [3, 113],
      "zlevel" : 3
    },
    "lblStoreTab" : {
      "type" : "image",
      "file" : "/interface/crafting/generalmunitions/crptexp-gmtabiconstorage.png",
      "position" : [3, 84],
      "zlevel" : 3
    },
    "lblMatTab" : {
      "type" : "image",
      "file" : "/interface/crafting/generalmunitions/crptexp-gmtabiconblocks.png",
      "position" : [3, 55],
      "zlevel" : 3
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [3, 200],
          "baseImage" : "/interface/crafting/generalmunitions/crptexp-gmcraftingunselectedtab.png",
          "baseImageChecked" : "/interface/crafting/generalmunitions/crptexp-gmcraftingselectedtab.png",
          "data" : {
            "filter" : [ "doors" ]
          }
        },
        {
          "position" : [3, 171],
          "baseImage" : "/interface/crafting/generalmunitions/crptexp-gmcraftingunselectedtab.png",
          "baseImageChecked" : "/interface/crafting/generalmunitions/crptexp-gmcraftingselectedtab.png",
          "data" : {
            "filter" : [ "lights" ]
          }
        },
        {
          "position" : [3, 142],
          "baseImage" : "/interface/crafting/generalmunitions/crptexp-gmcraftingunselectedtab.png",
          "baseImageChecked" : "/interface/crafting/generalmunitions/crptexp-gmcraftingselectedtab.png",
          "data" : {
            "filter" : [ "wired" ]
          }
        },
        {
          "position" : [3, 113],
          "baseImage" : "/interface/crafting/generalmunitions/crptexp-gmcraftingunselectedtab.png",
          "baseImageChecked" : "/interface/crafting/generalmunitions/crptexp-gmcraftingselectedtab.png",
          "data" : {
            "filter" : [ "decoration" ]
          }
        },
        {
          "position" : [3, 84],
          "baseImage" : "/interface/crafting/generalmunitions/crptexp-gmcraftingunselectedtab.png",
          "baseImageChecked" : "/interface/crafting/generalmunitions/crptexp-gmcraftingselectedtab.png",
          "data" : {
            "filter" : [ "storage" ]
          }
        },
        {
          "position" : [3, 55],
          "baseImage" : "/interface/crafting/generalmunitions/crptexp-gmcraftingunselectedtab.png",
          "baseImageChecked" : "/interface/crafting/generalmunitions/crptexp-gmcraftingselectedtab.png",
          "data" : {
            "filter" : [ "materials" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
