{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "crptexp-gmenergyexplosionsmall"
    },
    {
      "action" : "spark"
    },
  {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
        {
            "action" : "particle",
            "specification" : {
              "type" : "ember",
              "size" : 2.5,
              "color" : [255, 92, 77, 255],
              "fullbright" : true,
              "destructionTime" : 0.3,
              "destructionAction" : "shrink",
              "fade" : 0.9,
              "initialVelocity" : [0, 0],
              "timeToLive" : 0.1,
              "layer" : "middle",
              "variance" : {
                "position" : [0.25, 0.25],
                "size" : 0.5,
                "initialVelocity" : [10, 10],
                "timeToLive" : 0.1
                }
              }
            }
        ]
      }
    ]
  },
  {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
        {
            "action" : "particle",
            "specification" : {
              "type" : "ember",
              "size" : 2.5,
              "color" : [187, 45, 109, 255],
              "fullbright" : true,
              "destructionTime" : 0.4,
              "destructionAction" : "shrink",
              "fade" : 0.9,
              "initialVelocity" : [0, 0],
              "timeToLive" : 0.1,
              "layer" : "middle",
              "variance" : {
                "position" : [0.25, 0.25],
                "size" : 0.5,
                "initialVelocity" : [5, 5],
                "timeToLive" : 0.1
                }
              }
            }
        ]
      }
    ]
  },
  {
    "action" : "sound",
    "options" : [ "/sfx/gun/pulsecannon_blast1.ogg" ]
  },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
