{
  "action" : "actions",
  "list" : [
    {
    "action" : "loop",
    "count" : 1,
    "body" : [
      {
        "action" : "option",
        "options" : [
          {
            "action" : "particle",
            "specification" : {
              "type" : "animated",
              "animation" : "/animations/generalmunitions/explosion/crptexp-gmincendiarybulletexplosion/crptexp-gmincendiarybulletexplosion.animation",
              "approach" : [0.1, 0.1],
              "layer" : "middle",
              "timeToLive" : 1.0,
		          "fullbright" : true,
              "variance" : {
                "position" : [0.0, 0.0],
                "initialVelocity" : [0, 0],
                "rotation" : 180
                }
              }
            }
          ]
        }
	    ]
	  },
    {
      "action" : "spark"
    },
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
  		    "action" : "option",
          "options" : [
  		      {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 1.2,
                "color" : [255, 255, 183, 255],
    			      "light" : [77, 29, 1],
                "fullbright" : true,
                "destructionTime" : 0.3,
                "destructionAction" : "shrink",
                "fade" : 0.9,
                "initialVelocity" : [0, 0],
    			      "finalVelocity" : [0, -10],
    			      "approach" : [5, 20],
                "timeToLive" : 0.5,
                "layer" : "middle",
                "variance" : {
                  "position" : [0.25, 0.25],
                  "size" : 0.5,
    			        "timeToLive" : 0.35,
                  "initialVelocity" : [10, 10]
                  }
                }
              }
  	      ]
  	    }
  	  ]
  	},
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
  		    "action" : "option",
          "options" : [
  		      {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 1.0,
                "color" : [255, 208, 133, 255],
    			      "light" : [77, 29, 1],
                "fullbright" : true,
                "destructionTime" : 0.3,
                "destructionAction" : "shrink",
                "fade" : 0.9,
                "initialVelocity" : [0, 0],
    			      "finalVelocity" : [0, -10],
    			      "approach" : [5, 20],
                "timeToLive" : 0.5,
                "layer" : "middle",
                "variance" : {
                  "position" : [0.25, 0.25],
                  "size" : 0.5,
    			        "timeToLive" : 0.35,
                  "initialVelocity" : [10, 10]
                  }
                }
              }
  	      ]
  	    }
  	  ]
  	},
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
  		    "action" : "option",
          "options" : [
  		      {
              "action" : "particle",
              "specification" : {
                "type" : "streak",
                "size" : 1.0,
    			      "length" : 3,
                "color" : [255, 208, 133, 255],
    			      "light" : [77, 29, 1],
                "fullbright" : true,
                "destructionTime" : 0.3,
                "destructionAction" : "shrink",
                "fade" : 0.9,
                "initialVelocity" : [0, 0],
    			      "finalVelocity" : [0, -10],
    			      "approach" : [5, 20],
                "timeToLive" : 0.5,
                "layer" : "middle",
                "variance" : {
                  "position" : [0.25, 0.25],
                  "size" : 0.5,
    			        "length" : 1,
    			        "timeToLive" : 0.25,
                  "initialVelocity" : [10, 10]
                  }
                }
              }
  	      ]
  	    }
  	  ]
  	},
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/impact_bullet.ogg" ]
    },
    {
      "action" : "sound",
      "options" :
        [ "/sfx/gun/fireworkgun_small1.ogg",
          "/sfx/gun/fireworkgun_small2.ogg",
		      "/sfx/gun/fireworkgun_small3.ogg"
        ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}
