{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
        "action" : "loop",
        "count" : 1,
        "body" : [
          {
  		      "action" : "option",
            "options" : [
  		    {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "image" : "/items/generalmunitions/throwables/crptexp-gmcleaver/crptexp-gmcleaver.png",
                "size" : 1.0,
                "position" : [0, 0],
                "destructionAction" : "fade",
                "destructionTime" : 0.2,
                "fade" : 1,
  			        "initialVelocity" : [0, 0],
  			        "finalVelocity" : [0, -50],
  			        "approach" : [8, 40],
                "layer" : "back",
                "timeToLive" : 0.5,
                "variance" : {
                  "initialVelocity" : [5, 0],
                  "angularVelocity" : 180,
                  "rotation" : 180
                  }
                }
              }
  	      ]
  	    }
  	  ]
  	},
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/generalmunitions/crptexp-gmcleaverimpact.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}
