{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "crptexp-gmraygunexplosionsmall"
    },
	  {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/generalmunitions/smoke/crptexp-gmraygunsmokesmall/crptexp-gmraygunsmokesmall.animation",
				        "color" : [255, 255, 255, 150],
                "collidesForeground" : false,
                "fullbright" : true,
                "finalVelocity" : [0, 0],
                "approach" : [1.5, 1.5],
                "timeToLive" : 0.1,
        		    "destructionTime" : 0.4,
                "destructionAction" : "fade",
                "variance" : {
                  "position" : [0.8, 0.8],
                  "initialVelocity" : [2.5, 2.5],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/critical_hit.ogg" ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/impact_plasma.ogg" ]
    },
    {
      "action" : "light",
      "color" : "green"
    }

  ]
}
